{% macro GenerateInitCode(klass, func_name, method_code, pre_modifier='', post_modifier='') -%}
{% set pre = ''%}
{% if pre_modifier %}
  {% set pre=pre_modifier ~ ' ' %}
{% endif %}
{{ pre }}bool {{ func_name }}() {{ post_modifier }} \
{ \
  ScMemoryContext ctx(sc_access_lvl_make_min, "{{ klass.name }}::{{ func_name }}"); \
  bool result = true; \
  {{ method_code }} \
  return result; \
}

{%- endmacro %}


{% macro ResolveKeynodeItem(field) -%}
{% if field.has_force_type %}
  {{ field.name }} = ctx.HelperResolveSystemIdtf("{{ field.keynode_idtf }}"); \
    {% else %}
  {{ field.name }} = ctx.HelperResolveSystemIdtf("{{ field.keynode_idtf }}", "{{ field.keynode_type }}"); \
    {% endif %}
  result = result && {{ field.name }}.IsValid(); \
{%- endmacro %}

{% macro ResolveKeynodes(fields) -%}
{% for field in fields %}
  {% if field.is_keynode and not field.is_static %}
{{ ResolveKeynodeItem(field) }}
  {% endif%}
{% endfor %}
{%- endmacro %}

{% macro ResolveStaticKeynodes(fields) -%}
{% for field in fields %}
  {% if field.is_keynode and field.is_static %}
{{ ResolveKeynodeItem(field) }}
  {% endif%}
{% endfor %}
{%- endmacro %}

{% macro GenerateDeclarations(klass) -%}
{%- endmacro %}